Q1. What exactly is []?

Ans: It is used to show empty list.

In [1]:
l=[]
type(l)

list

Q2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? 
     (Assume [2, 4, 6, 8, 10] are in spam.)

Ans:

In [2]:
l=[2,4,6,8,10]
l.insert(2,'hello')
l

[2, 4, 'hello', 6, 8, 10]

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [3]:
spam = ['a', 'b', 'c', 'd']

Q3. What is the value of spam[int(int('3' * 2) / 11)]?

Ans: Here, the logic inside the square brackets will be solved that is
    '3'*2 will give '33'
    Since, the string type is now taken as int type then it will be 33.
    Then it is divided by 11 which gives us 3.
    So, the result should be spam[3] that is 'd'.

In [4]:
spam[int(int('3' * 2) / 11)]

'd'

In [5]:
spam[3]

'd'

Q4. What is the value of spam[-1]?

Ans: This will give the last element present in the list that is 'd'.

In [6]:
spam[-1]

'd'

Q5. What is the value of spam[:2]?

Ans: This will return a new list containing elements present in the spam list till second index but not included i.e. ['a','b']

In [7]:
spam[:2]

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [12]:
bacon=[3.14 , 'cat' , 11 , 'cat' , True]

Q6. What is the value of bacon.index('cat')?

Ans: This return the first index position where the element is 'cat' that is 1.

In [13]:
bacon.index('cat')

1

Q7. How does bacon.append(99) change the look of the list value in bacon?

Ans: This will add 99 in the list at the end.

In [14]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

Q8. How does bacon.remove('cat') change the look of the list in bacon?

Ans: This will remove the 'cat' element that is occuring first in the list.

In [15]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

Q9. What are the list concatenation and list replication operators?

Ans: list concatenation operator: + and list replication operator: *

Q10. What is difference between the list methods append() and insert()?

Ans: If use this method for a list. The append method will add a new element at the end of the list, whereas the insert method needs two parameters first is the position or the index and the other parameter is element that is to be added in the list.

In [18]:
new_list=[1,2,3,4,5,6,7]

In [19]:
#append method
new_list.append(99)
new_list

[1, 2, 3, 4, 5, 6, 7, 99]

In [20]:
new_list=[1,2,3,4,5,6,7]

In [21]:
#insert method, inserting 99 in 4th index
new_list.insert(4,99)
new_list

[1, 2, 3, 4, 99, 5, 6, 7]

Q11. What are the two methods for removing items from a list?

Ans: remove() and pop()

Q12. Describe how list values and string values are identical.

Ans: Following are the properties on which list values and strings are identical:
        1. To check the length both lists and strings can be passed to len().
        2. Have indexes and slices.
        3. Can be used in for loops.
        4. Can be concatenated or replicated.
        5. Can be used with the in and not in operators

Q.13. What's the difference between tuples and lists?

Ans: List are mutable where we can change or ommit the elements in it, whereas tuples are immutable where no change or ommition
     of elements can be done in its elements.
     List elements are enclosed within [ ], whereas tuples elements are enclosed within ().

Q.14. How do you type a tuple value that only contains the integer 42?

Ans: t=(42,)

Q15. How do you get a list value's tuple form? How do you get a tuple value's list form?

Ans: To get a list value's tuple form: tuple(list_name)
     To get a tuple value's list form: list(tuple_name)

In [26]:
#Suppose a list l
l=[1,2,3,4,5]
#For its tuple form:
tuple(l)

(1, 2, 3, 4, 5)

In [28]:
#Suppose a tuple t
t=(10,9,8,7,6)
#For its list form:
tuple(t)

(10, 9, 8, 7, 6)

Q16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans: Variables will contain references to list values rather than list values themselves.

Q17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans: copy.copy() is referred to be shallow copy where a shallow copy means constructing a new collection object and then populating it with references to the child objects found in the original.That means if any changes take place to the copied version the same change will be refected upon original version.
     copy.deepcopy() is referred to be deep copy where copying process occurs recursively. It means first constructing a new collection object and then recursively populating it with copies of the elements found in the original. So, if any changes take place in copied version will not affect the original version.